<div style="text-align:center">
  <h1>
    mbed client
  </h1>
</div>

<div class="row m-2">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="url">
    <button (click)="setUrl(url)" type="button" class="btn btn-primary mx-1">set url</button>
  </div>
</div>

<h2>Get System Info</h2>
<div class="row m-2">
  <button (click)="getFan()" type="button" class="btn btn-secondary m-1">get fan info</button>
  <button (click)="getDht()" type="button" class="btn btn-secondary m-1">get temperature & humidity info</button>
  <button (click)="getRoof()" type="button" class="btn btn-secondary m-1">get roof info</button>
</div>

<h2>Set ideal temperature & humidity</h2>
<div class="row m-2">
  <div class="input-group mb-3">
    <input type="number" class="form-control" [(ngModel)]="temperature">
    <button (click)="setTemperature(temperature)" type="button" class="btn btn-secondary mx-1">set temperature</button>
  </div>

  <div class="input-group mb-3">
    <input type="number" class="form-control" [(ngModel)]="humidity">
    <button (click)="setHumidity(humidity)" type="button" class="btn btn-secondary mx-1">set humidity</button>
  </div>
</div>

<div class="row justify-content-center align-items-center">
  <div class="loader" *ngIf="serverResponse == '...'">
  </div>
  <h2 *ngIf="serverResponse != '...'"> {{serverResponse}} </h2>
</div>